:root {
  --primary: #F49D37;
  --background: #140F2D;
}
/* Standard syntax */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  overflow: hidden;
}
#particles-js {
  position: absolute;
  background: var(--background);
  width: 110vw;
  height: 100vh;
  top:0;
  left:0;
  z-index: -3;
}
.loadingLogo{
  height:18vh;
  filter:invert(100%);
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
.projectsContainer, .welcomeContainer, .aboutContainer, .milestoneContainer{
  position: absolute;
  z-index:2;
  height:100vh;
  color:white;
  width:100vw;
  visibility: hidden;
  opacity: 0;
  transition: 1s all ease;
  transform: translateX(150vw);
}
.welcomeContainer{
  opacity: 1;
  right:0;
  transform:translate(0);
  visibility: visible;
}
.logoContainer{
  position: absolute;
  left:47vw;
  top:30vh;
}
.logoContainer h2{
  margin-top: 5vh;
  text-align: left;
}
#loading{
  top:0;
  left:0;
  position: absolute;
  height:100%;
  width:100%;
  background:#140F2D;
  z-index:600;
  color:var(--primary);
}
.logo{
  z-index: 20;
  width: 2.5%;
  position: absolute;
  left:10%;
  top:5vh;
  transition: 1s all ease;
  filter:invert(100%);
}
.logo:hover{
  opacity: 0.7;
  transition: 1s all ease;
  transform: rotate(180deg);
}
.headline{
  position: relative;
  z-index: 30;
  text-align: center;
  padding:15%;
  margin-top:20vw;
  padding-bottom: 0;
  padding:0;
  font-size: 4.5em;
  max-width: 100vw;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 300;
  color:white;
}
.typerText{
  font-weight: 700;
  color:#D72638;
}
.medieninformatiker{
  color:var(--primary);
}
.transform-btn{
  transition: 5s all ease;
}
.transform-btn:hover{
  padding:10px 20px;
  font-size: 2em;
  color: var(--primary);
  border: 1px solid white;
  background: rgba(56,56,56,0.2);
  cursor: pointer;
}
/*Projekte*/

.projectsContainer h1, .aboutContainer h1, .milestoneContainer h1{
  color:var(--primary);
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-top: 5%;
  text-align:center;
  font-size: 3em;
}

#projectList{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#projectList img{
  width:100%;
}

.projectImg{
  width:20%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin:1%;
  height: auto;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.5s;
}
.projectImg:hover{
  transition-delay: unset;
  transition: opacity 0.5s;
  opacity: 1;
}

.slider{
  display: inline-block;
  position: absolute;
  z-index: 3;
  left:50%;
  transform:translateX(-50%);
  bottom: 3vh;
  cursor: pointer;
}
.slideLine{
  position: relative;
  float:left;
  background:gray;
  width:10vw;
  height:5px;  margin:0;
  margin-top:5px;
  cursor: pointer;
  box-shadow:inset 0 0 0 0 var(--primary);
  transition: 1s all ease;
}
.slide{
  height:15px;
  width:15px;
  border-radius: 50%;
  background:gray;
  float:left;
  margin:0 3px  /* XXX:  */;
  transition-delay: 0.4s;
  transition: .8s all ease;
}

.slider>.slide--active, .milestoneSlider>.slideactive{
  background: var(--primary);
  transition: 1s all ease;
}
.slider>.slideline--active{
  box-shadow:inset 10vw 0 0 0 var(--primary);
  background: var(--primary);
  transition: 1s all ease;
}
.slidedescription{
  color:gray;
  position: absolute;
  opacity: 0;
  font-size: 1.4em;
  transition: opacity .5s ease;
}

.slidedescription--active{
  color:var(--primary);
  opacity: 1;
  transition: 1s all ease;
}

.badges{
  display: inline-block;
  padding:10px 20px;
  font-size: .9em;
  border-radius: 10px;
  color:white;
  margin:0 15px 0 5px;
}
.badges.job{
  background: var(--primary);
}
.badges.code{
  background: #0D1F2D;
}
.projectDescription{
  position: absolute;
  top:10vh;
  left:10vw;
  z-index: 4 ;
  width:70vw;
  padding:5vh 5vw;
  background-color: rgba(215,38,56,0.8);
  color:#FFFFFF;
  height:75vh;
  margin:0 auto;
  text-align: center;
  overflow-y: auto;
  display:none;
  cursor: url(http://marvinsemmelroth.de/media/close.svg), zoom-out;
}

.projectDescription p{
  text-align: left;
  margin:30px 0;
  padding: 0 30px;
}

.projectDescription h2{
  margin-bottom: 1.2%;
  font-size:3em;
}

.projectDescription h3{
  font-size:1.8em;
  margin-bottom: 3%;
}

.projectDescription h4{
  text-align: center;
  padding:20px 0 20px 0;
  background: #FFFFFF;
  color: #000000;
}

iFrame{
  float:left;
  margin-bottom: 5vh;
  margin-top:2vh;
}
.projectLink button, .contactButton button{
  padding:20px;
  background: transparent;
  text-decoration: none;
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: 900;
  cursor: pointer;
  color:white;
  border:2px solid white;
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
  text-transform: uppercase;
  width:100%;
  margin:0 auto;
  margin-top: 2vh;
  margin-bottom: 10vh;
  transition: 1s all ease;
  transition: 0.4 color ease;
}
.projectLink button:hover{
  background:white;
  color:#101419;
  transition: 1s all ease;
  transition: 0.4 color ease;
}
.projectClose{
  position: absolute;
  right:5vw;
  top:10vh;
  opacity: 0.7;
  width: 50px;
  transform: scale(1.0);
  transition: 0.5s all ease;
  filter:invert(100%);
}
.projectClose:hover{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
  transition: .5s all ease;
}

/*About*/
.aboutContent{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:80vw;
}
.aboutText{
  font-size: 1.3em;
  text-align: left;
}
.photoContainer{
  width:40%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.photoContainer img{
  width:120%;
}
.textContainer{
  width:50%;
  padding:5vw;
  margin-left: 35%;
  background-color: rgba(255,255,255,.8);
  color:#101419;
  height:100%;
  box-shadow: 5px 5px 0px 0px #101419;
}
.photoContainer{
  width:20%;
  margin-right: 10vw;
}
.aboutFoto{
  border-radius: 50%;
  border:5px solid white;
  width:100%;
  float:left;
  margin-top: 0;
}

/*Meilensteine */

.milestoneContent{
  width:60vw;
  height:70vh;
  background: rgba(255,255,255,0.5);
  margin: 0 auto;
}

.milestoneContent p{
  margin-bottom: 5vw;
}

.milestoneSlider{
  transform-origin: left;
  transform: rotate(90deg);
  position: relative;
  left:3%;
}

.milestoneSlider>p{
  transform-origin: left;
  transform: rotate(-90deg);
}
.milestoneSlider>.slideLine{
  width:5vw;
  background-color: var(--primary);
  cursor:default;
}
.milestoneSlider>.slideLineDisabled{
  width:5vw;
  background-color: gray;
}


::-webkit-scrollbar {
    width: 20px;
    margin-right:20px;
}

::-webkit-scrollbar-button {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50%;
}

::-webkit-scrollbar-track-piece {
    border: 2px solid white;
    background: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }
    #topNav{
      display:none;
    }
    #logo{
      display:block;
    }
    .projectImg{
      max-width: 40%;
      width: 40%;
      margin: 2% 5%;
    }
    .projectMore{
      position: absolute;
      z-index: 200 !important;
      height:100vh;
    }
}
